<div class="flex h-screen bg-gray-100">
    <!-- Left Side (Image) -->
    <div
        class="relative hidden h-full flex-col p-10 lg:flex lg:w-3/5"
        [ngStyle]="{
            'background-image': 'url(' + mainbg + ')',
            'background-repeat': 'no-repeat',
            'background-size': 'cover',
            'background-position': 'center'
        }"
    >
        <!-- Grayish overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-40"></div>
        
        <div class="relative flex items-end justify-start w-full h-full text-white">
            <div class="p-10">
                <h1 class="text-4xl font-bold mb-4">Demo Website</h1>
                <p class="text-xl italic">“Lorem ipsum dolor sit amet” – Unknown</p>
            </div>
        </div>
    </div>
  
    <!-- Right Side (Form) -->
    <div class="flex lg:p-8 lg:w-2/5 w-full items-center justify-center p-10 bg-white">
        <div class="w-full max-w-md">
            <h2 class="text-center text-4xl font-bold pb-3">Login</h2>
            <p class="text-center text-lg text-muted-foreground mb-8">Please login by filling the form below</p>
    
            <!-- Login Form -->
            <form (submit)="login()" class="md:px-6">
                <div class="mb-4">
                    <label class="block text-gray-700 text-lg font-bold mb-2" for="username">Username</label>
                    <input [(ngModel)]="user.username" type="text" id="username" name="username" class="appearance-none border rounded rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter your username">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-lg font-bold mb-2" for="password">Password</label>
                    <input [(ngModel)]="user.password" type="password" id="password" name="password" class="appearance-none border rounded rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter your password">
                </div>
        
                <!-- Submit Button -->
                <div class="flex items-center justify-end w-full">
                    <button type="submit" class="bg-green-2 w-full rounded-xl hover:bg-green-3 transition-transform duration-300 transform hover:scale-105 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Login</button>
                </div>
            </form>

            <p class="text-gray-500 text-sm text-center mt-8">Not registered yet? <a href="/login" class="text-green-2 font-semibold hover:underline hover:underline-offset-4">Create an account</a></p>
        </div>
    </div>
</div>
  